<h1>Thank you!</h1>
<p>We'll find the best self-storage place for your needs and get back to you soon.</p>
<p>If you have a spare minute, we'd appreciate if you could fill out a <a href="http://www.surveymonkey.com/s/XZNX8JN">short survey</a> to help us improve our service!</p>
